
@{
    ViewBag.Title = "Ministries";
}
<div id="background">
<div id="statementhead">
    <h2 id="mission">Our</h2>
    <h2 id="statement">Ministries</h2>
    <p class="state">
        From kids to adult groups,<br />
        we strive to know and grow in God
    </p>
</div>

@*<div id="ministry" >
    
    <ul style="text-align:center; padding-top:5%; font-size:3em;">
        <li id="our">Our</li>
        <li id="mission1">Mission</li>
    </ul>
    <p class="state">From kids to adult groups,<br />
    we strive to know and grow in God</p>
    <img src="~/Images/ministries.png" id="ministryheadpic" />
</div>*@
<br />
    <div class="col-md-3" id="ministries_kids">
        <h6>Kids Construction Company</h6><br />
        <img src="~/Images/kids.png" />
    </div>
    <div class="col-md-3" id="ministries_wired">
        <h6>WIRED Studen Ministries</h6><br />
        <img src="~/Images/wired.png" />
    </div>
    <div class="col-md-3" id="ministries_wow">
        <h6>Women of the Word (W.O.W.)</h6><br />
        <img src="~/Images/wow.png" />
    </div>
    <div class="col-md-3" id="ministries_men">
        <h6>West Springs Men's Ministry</h6><br />
        <img src="~/Images/mens.png" />
    </div>
    <div style="height: 10em;">

    </div>
    @*<ul id="programs">
        <li class="ministries"><a href="#kids"> <b>Kids Contruction Company</b><img src="~/Images/kids.png" /></a></li>
        <li class="ministries"><a href="#wired"> <b>WIRED Student Ministries</b><img src="~/Images/wired.png" /></a></li>
        <li class="ministries"><a href="#women"> <b>Women of the Word (W.O.W.)</b><img src="~/Images/wow.png" /></a></li>
        <li class="ministries"><a href="#men"> <b>West Springs Men's Ministry</b><img src="~/Images/mens.png" /></a></li>
    </ul>*@
<hr />

<div class="col-md-12" id="kids"></div>
<div class="container" id="minicont">
    <div id="#" class="minihead">Kid's Construction Company <img src="~/Images/kids.png" /></div>
    <div class="col-md-6">
        <p class="minip">
            Our children's ministry aspires to show God's love to every child that attends KCC.  Our mission
            is to build a foundation for kids to know Christ, grow in Christ and to show Christ to the world
        </p>
        <br />
        <p class="minip">
            The classrooms are separated by the following ages:
            <ul>
                <li class="ages">0-2 Diggers Room</li>
                <li class="ages">2-3 Bulldozers Room</li>
                <li class="ages">4-5 Little Tykes</li>
            </ul>
        </p>
    </div>
    <div class="col-md-6">
        <p class="minip"><b>Kindergarden to 5th grade Children's Church</b></p>
        <p class="minip">
            Lessons are taught from the Bulldozer room and up to build a foundation for kids in the beginning
            stages of their walk with Christ.
        </p>
        <br />
        <p class="minip">Kid's Construction Company puts on several events throughout the year which can be found on our <a href="#">calendar</a>.</p>
        <br />
        <p class="minip">Any interest in serving or participating in the children's ministry, contact @Html.ActionLink("Gloria McDonnel", "Contact", "Contact")</p>
    </div>
</div>

<div class="col-md-12" id="wired"><a href="#" class="btn btn-primary btn-xs">Back To Top</a></div>

<div class="container" id="minicont">
    <h4 id="#" class="minihead">WIRED Student Ministries <img src="~/Images/wired.png" /></h4>
    <div>
        <div class="col-md-6">
            <p class="minip">
                WIRED Student Ministry exists to provide a safe, and fun atmosphere where Jur. High and High School
                students Know Christ, Grown in Christ, and t help students show Christ to the world.  WIRED meets Wednesday nights 6:30-8:30
                during the school year.  We also have a Sunday morning class for all Jr. and Sr. High Students from 8:45-9:45
            </p>
        </div>
        <div class="col-md-6">
            <p class="minip">
                Throughout the year WIRED engages our students, and our community in tons of fun activities ranging from
                lock-ins, to serving our retirement community, ad even conferences like Christ in Youth over the summer.  If you would like
                more information regarding WIRED please contact @Html.ActionLink("Justin Brink", "Contact", "Contact")
            </p>
        </div>
    </div>
</div>

<div class="col-md-12" id="women"><a href="#" class="btn btn-primary btn-xs">Back To Top</a></div>

<div class="container" id="minicont">
    <h4 id="#" class="minihead">Woment of the Word (W.O.W.) <img src="~/Images/wow.png" /></h4>
    <div>
        <div class="col-md-6">
            <p class="minip">
                The W.O.W. Ministry welcomes all women to participate in our various programs and special events.  It is our endeavor
                to create inviting learning and social environments that instill sounds Biblical teaching and an
                atmosphere for bonds of friendship to be woven
            </p>
        </div>
        <div class="col-md-6">
            <p class="minip">
                <i>We Equip</i> women with the truth of God's Word through weekly Bible study, our discipleship/mentoring program and various
                other teaching opportunities.<br />
                <i>We Encourage</i> through intentional relationship building opportunities to go deeper with God, other women, our annual
                retreats and small group emphasis.<br />
                <i>We Engage</i> through our year round special events, CREATE crafting weekends, and numerous outreaches to our community
                and internationally.
            </p>
        </div>
    </div>
</div>

<div class="col-md-12" id="men"><a href="#" class="btn btn-primary btn-xs">Back To Top</a></div>

<div class="container" id="minicont">
    <h4 id="#" class="minihead">West Springs Men's Ministry <img src="~/Images/mens.png" /></h4>
    <div>
        <p class="minip">
            Is a growing group of Men wanting to come together to support one anoter as we learn to be the Husbands, Fathers, Leaders and
            Men that God has called us to be.  We consider this a Ministry to Men and a Ministry of Men.
        </p>
    </div>
</div>
    <div class="col-md-12" id="wired"><a href="#" class="btn btn-primary btn-xs">Back To Top</a></div>
    </div>

@Scripts.Render("~/Scripts/Ministries.js")