
@{
    ViewBag.Title = "Sermons";
}

<div id="sermonheader">
    <ul id="biblehead">
        <li id="our">Online</li>
        <li id="mission1">Sermons</li>
    </ul>
</div>

<h3 class="text-center">Hear the message, even if you missed it live</h3>

<p class="text-center">Life happens, but now you can continue to hear the word of God even if you weren't able to make it to church.
    Click below to find your sermon.</p>

<a href="http://www.sermoncloud.com/west-springs-church/"> <img id="sermoncloud" src="~/Images/WS motto.png" title="Online Sermons at Sermon Cloud" /></a>

<script>
    onLoad = document.getElementById('body').style.background = '#e6e6e6';
</script>