@{
    ViewBag.Title = "Statements";
}
<div id="statementhead">
    <h2 id="mission">Mission &amp; Vision</h2>
    <h2 id="statement">Statements</h2>
</div>

    <div class="col-md-6" style="margin-top: 3%;">
        <h3 style="margin-left: 10%;">Our Mission Statement</h3>
        <blockquote style="margin-left: 10%;">
            <p>West Springs is a Church with the mision</p>
            <p>to <b>KNOW</b> Christ</p>
            <p>to <b>GROW</b> in Christ</p>
            <p>to <b>SHOW</b> Christ to our world.</p>
        </blockquote>
    </div>

    <div class="col-md-6" style="margin-top:3%;">
        <h3 style="text-align: right; margin-right: 10%;">Our Vision Statement</h3>
        <blockquote class="blockquote-reverse" style="margin-right: 10%;">
            <p>West Springs Church is a praying church, reaching to our</p>
            <p>
                city and beyond, by serving those
                far from God with friendship, love and the gospel of Jesus, in the power of the Holy Spirit.
            </p>
            <br />
            <br />

        </blockquote>
    </div>
<div class="col-md-12" style="height: 10em;"></div>

@*<script>
    onload = console.log('Running Script');
    onLoad = document.getElementById('statement').style.marginLeft = "20%";
    onLoad = document.getElementById('statement').style.marginBottom = "3%";
    onLoad = document.getElementById('mission').style.marginLeft = "17%";
    onLoad = document.getElementById('statement').style.textAlign = 'left';
    onLoad = document.getElementById('mission').style.textAlign = 'left';
    onLoad = document.getElementById('foot').style.position.fixed = 'bottom';
    onLoad = document.getElementById('foot').style.bottom = '0px';
    onLoad = document.getElementById('body').style.background = '#e6e6e6';
</script>*@


